* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.tutorial {
  width: 80%;
  text-align: center;
  margin: auto;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
}

.notification {
  margin-top: 20px !important;
  width: 100%;
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
  overflow-y: hidden;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}

.dropdown {
  width: 100%;
}

.dropdown-menu {
  width: 100%;
}

.content {
  padding: 0 0 0 20px;
}

.media-left img {
  width: 100%; /* Obrazek zajmie 100% szerokości kontenera */
  height: auto; /* Dostosuj wysokość proporcjonalnie do szerokości */
}
