* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.title {
  text-align: center;
  margin: auto;
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
  overflow-y: hidden;
}

figure .image img {
  width: 150px !important;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 0 0 0 10px;
  height: 200px;
}

.notification {
  margin-top: 20px !important;
  width: 100%;
  height: 200px;
  text-align: center;
  display: grid;
  place-items: center;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}

.dropdown {
  width: 100%;
}

.dropdown-menu {
  width: 100%;
}

.tutorial {
  width: 80%;
  text-align: center;
  margin: 0 auto 20px auto;
}
